<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block main %}

    {% for user in allUsers %}
<a href="{{ path('user_profile', {'id':user.id}) }}">{{ user.fullName }}</a>
        <hr/>
    {% endfor %}
=======
{% extends 'base.html.twig' %}

{% block main %}

    {% for user in allUsers %}
<a href="{{ path('user_profile', {'id':user.id}) }}">{{ user.fullName }}</a>
        <hr/>
    {% endfor %}
>>>>>>> fda21f45e5f6597f4f892dacfe0669d34d72f089
{% endblock %}