<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block main %}

        <p>{{ user.email }}</p>

=======
{% extends 'base.html.twig' %}

{% block main %}

        <p>{{ user.email }}</p>

>>>>>>> fda21f45e5f6597f4f892dacfe0669d34d72f089
{% endblock %}