{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-description span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" enctype="multipart/form-data" action="{{ path('article_create') }}"
                  method="POST">
                <fieldset>
                    <legend>New Product</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_name">Product name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_name" placeholder="Product name"
                                   name="article[name]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_basePrice">Base price</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_basePrice" placeholder="Base price"
                                   name="article[basePrice]">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_description">Product description</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_description"
                                  placeholder="Product description"
                                  name="article[description]"></textarea>
                        </div>
                    </div>

                       <div class="form-group" >
                                <label class="col-sm-4 control-label" for="article_category" >Category</label>
                                <div class="col-sm-4 " >

                                    <select name="column_select" id="column_select">
                                        <option value="null">Please select</option>
                                        <option value="w">Women</option>
                                        <option value="m">Men</option>
                                    </select>

                                    <select name="layout_select" id="layout_select">
                                        <!--Below shows when 'Women' is selected is hidden otherwise-->
                                        <option value="null2">Please select</option>
                                        <option value="w_shirt">Shirts</option>
                                        <option value="w_trousers">Trousers</option>
                                        <option value="w_shoe">Shoes</option>
                                        <option value="w_accessories">Accessories</option>
                                        <option value="w_coat">Coats</option>
                                        <option value="w_dress">Dresses</option>
                                        <option value="w_skirt">Skirts</option>

                                        <!--Below shows when 'Men' is selected is hidden otherwise-->
                                        <option value="m_shirt">Shirts</option>
                                        <option value="m_trousers">Trousers</option>
                                        <option value="m_shoe">Shoes</option>
                                        <option value="m_accessories">Accessories</option>
                                        <option value="m_coat">Coats</option>


                                    </select>

<script>
    $(document).ready(function() {
        $("#layout_select").children('option:gt(0)').hide();
        $("#column_select").change(function() {
            $("#layout_select").children('option').hide();
            $("#layout_select").children("option[value^=" + $(this).val() + "]").show()
        })
    })
</script>
                                </div>
                       </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_image">Image</label>
                        <div class="col-sm-4 ">
                            <input type="file" accept=".image/gif, .jpeg, .png, .jpg" class="form-control"
                                   id="article_image" placeholder="Image"
                                   name="article[image]">
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('blog_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}